* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    display: inline-block;
    flex-flow: column wrap;
    margin: 0 5%;
    width: 50%;
}

.input-container {
    position: relative;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border-radius: 20px;
    border: none;
    background: #f1f1f1;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #733586FF;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 20px;
    justify-content: center;
    display: flex;
}


.container a {
    color: #363149;
}

.signin {
    width: 50%;
    margin: 0 5%;
    text-align: center;
}

.role-msg {
    width: 50%;
    position: relative;
    height: 0;
    padding-bottom: 50%;
    color: white;
    display: table;
    border-radius: 0 0 0 100%;
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
}


.role-msg a:link {
    text-decoration: none;
    color: white;
}

.role-msg a:visited {
    color: white;
}


.container-fluid {
    display: flex;
}

.container-login > *, .container-login input {
    width: 100%;
}

.container-login h2 {
    text-align: center;
}

.eye {
    position: absolute;
    top: .4em;
    right: .4em;
    height: 2.2em;
    border-radius: 1.1em;
    border: 1px solid;
    text-transform: uppercase;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.role-msg-content {
    position: absolute;
    top: 30%;
    right: 2%;
}