<body>
<div className="container">
    <form className="form-signin" method="post" action="/auth/login">
        <h2 className="form-signin-heading">Please sign in</h2>
        <p>
            <label htmlFor="username" className="sr-only">Username</label>
            <input type="text" id="username" name="username" className="form-control" placeholder="Username"
                   required="" autoFocus="">
        </p>
        <p>
            <label htmlFor="password" className="sr-only">Password</label>
            <input type="password" id="password" name="password" className="form-control"
                   placeholder="Password" required="">
        </p>
        <input name="_csrf" type="hidden" value="6d150464-394c-4998-859b-08202f433013">
        <button className="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </input>
    </form>
</div>
</body>